{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row m-0 p-0 justify-content-center">
  <div class="col-8 col-md-6  text-center card py-4">
    <h1>{% trans "Sign Up" %}</h1>
    <p>آیا قبلا ثبت نام کرده اید؟ 
      <a class="text-danger" href="{{ login_url }}">وارد شوید</a>
    </p>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div class="row my-1">
        <div class="col-3">نام کاربری</div>
        <div class="col-9">{{form.username|add_class:"form-control"}}</div>
      </div>
      <div class="row my-1">
        <div class="col-3">ایمیل</div>
        <div class="col-9">{{form.email|add_class:"form-control"}}</div>
      </div>
      <div class="row my-1">
        <div class="col-3">رمز عبور</div>
        <div class="col-9">{{form.password1|add_class:"form-control"}}</div>
      </div>
      <div class="row my-1">
        <div class="col-3">تکرار رمز عبور</div>
        <div class="col-9">{{form.password2|add_class:"form-control"}}</div>
      </div>


      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-success btn-block" type="submit">{% trans "Sign Up" %}</button>
    </form>
    
  </div>

</div>

{% endblock %}





